@font-face {
  font-family: "TechnaSans-Regular";
  src:
    local("TechnaSans-Regular"),
    url(./fonts/TechnaSans-Regular.otf) format("opentype");
}

:root {
  --bg-primary: #000;
  --color-primary: rgba(255, 255, 255, 0.87);
  --border-primary: #333;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #fff;
    --color-primary: #213547;
    --border-primary: #777;
  }
} */
