:root {
    --ifm-heading-color: #fcde00;
}


/* Control the order of items in the right navbar */

.navbar__items--right {
    display: flex;
    align-items: center;
    margin-left: 32px;
}


/* DocSearch should appear first */

.DocSearch-Button {
    order: 1;
}


/* GitHub link should appear after search */

.header-github-link {
    margin-left: 8px;
    display: inline-flex;
}

.navbar__items--right .colorModeToggle_DEke {
    order: 3;
    display: none;
}

.navbar__items--right> :last-child {
    padding-right: 3rem;
}


/* Theme toggle should appear last */

.navbar__items--right .colorModeToggle {
    order: 3;
    margin-left: 8px;
}

.navbar__items .navbar__brand {
    margin-right: auto;
}

.navbarSearchContainer_Bca1 .DocSearch.DocSearch-Button {
    background: transparent;
    border: 0.5px solid #fff;
    width: 110px;
    height: 30px;
}

.navbarSearchContainer_Bca1 .DocSearch-Button-Keys {
    display: none;
}

.DocSearch-Button-Container svg {
    width: 16px;
    height: 16px;
}

.DocSearch-Button-Container svg {
    width: 16px;
    height: 16px;
}

@media(min-width:997px) {
    .navbar__items--right>div.navbarSearchContainer_Bca1 {
        padding-left: 0;
    }
}


/* Breadcrumb container */

.breadcrumbs {
    margin-top: 3.75rem;
}


/* Breadcrumb link (text like "Intro") */

.breadcrumbs__link {
    color: white !important;
    font-size: 1rem;
    /* You can increase this if needed */
    font-weight: 500;
}


/* Breadcrumb arrow (separator icon) */

.breadcrumbs__item svg {
    width: 1.5rem;
    height: 1.5rem;
}

.breadcrumbs__item:not(:last-child)::after {
    color: white !important;
    opacity: 1;
}