/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    background-color: #101010;
    font-family: "DM Sans", sans-serif;
}

.primary-text-color {
    color: #FFDF00;
}

.heroBanner {
    padding: 210px 0 256px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #101010;
    background-image: url('/img/hero-image.png');
    background-size: 92%;
    background-position: right top;
    align-items: flex-start;
    background-repeat: no-repeat;

    @media(max-width: 1440px){
        padding: 175px 0 175px;

    }
    @media(max-width: 1024px){
        padding: 120px 0 120px;

    }
    @media(max-width: 767px){
        background-size: 130%;
        padding: 175px 0 256px;
    }
}

.heroHeading {
    font-size: 74px;
    font-weight: 500;
    color: white;
    font-family: "Funnel Display", sans-serif;
    span {
        color: #FFDF00;
    }

    @media(max-width: 1440px){
        font-size: 62px;
    }

    @media(max-width: 1024px){
        font-size: 52px;
    }

    @media(max-width: 767px){
        font-size: 42px;
    }
}

.heading2 {
    font-size: 44px;
    font-weight: 500;
    color: white;
    font-family: "Funnel Display", sans-serif;
    span {
        color: #FFDF00;
    }
    @media (max-width: 996px){
        font-size: 30px;
    }
}

.heroSubtitle {
    margin: 0 auto;
    max-width: 520px;
    color: #9F9F9F;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;

    @media(max-width: 1440px){
        font-size: 18px;
    }
}

.header-github-link:before {
    content: "";
    background-color: white;
    width: 24px;
    height: 24px;
    transition: background-color .2s cubic-bezier(.08, .52, .52, 1);
    display: flex;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    &>* {
        margin-right: 25px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

.button {
    display: inline-block;
    min-width: 166px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none !important;
    transition: background-color .2s cubic-bezier(.08, .52, .52, 1);
    border: 1px solid transparent;
}

.buttonPrimary {
    background-color: #FFDF00;
    color: #101010;
    &:hover {
        border-color: #FFDF00;
        background-color: transparent;
        color: #FFDF00;
    }
}

.buttonDefault {
    border-color: #FFDF00;
    color: #FFDF00;
    &:hover {
        background-color: #D9BE00;
        color: #101010;
    }
}

.designFirstContent {}

.listItemGroup {
    padding-left: 17px;
    margin-bottom: 0px;
}

.listItem::marker {
    color: #FFDF00;
}