.visionMain {
    /* background: linear-gradient(to right, #0a0a0a, #1a1a1a); */
    background-color: #101010;
    background-image: url('/img/hero-image.png');
    background-size: 100%;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .visionMain {
        background-image: none;
    }
}

.visionSection {
    max-width: 1023px;
    margin: 0 auto;
    padding: 4rem 1rem;
    text-align: center;
}

.visionContent {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Funnel Display', sans-serif;
    font-weight: 500;
    font-size: 74px;
    line-height: 104%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #FFFFFF;
    margin: 0%;
}

.subtitle {
    font-family: 'Funnel Display', sans-serif;
    font-weight: 500;
    font-size: 74px;
    line-height: 104%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #FFDF00;
}

.paragraph {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.01em;
    /* -1% in CSS is written as -0.01em */
    color: #9F9F9F;
}